.ReportContent

  .header
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 10px 20px 0 20px
    margin: 0 -20px

  .btn
    background-color: #FF4500;
    color: #FFFAFA;
    margin-bottom: 5px;
    border-color: #FFFAFA;

  .btn:hover
    transition: all 0.2s ease-in-out;
    background: var(--text-secondary-color);
    color: #fff;

  .counter
    margin-left: 10px;

  .invalid
    border: 1px solid #db2222;
    box-shadow: none;

  .required
    color: #db2269;
    font-size: 0.8em;
    margin-top: 0.5em;
